<p class="font-bold text-2xl pb-14 tracking-tight">Welcome to TrailRepo</p>
<form [formGroup]="loginForm" class="space-y-6 w-full" (submit)="login()">
  <div>
    <Label for="email" class=" text-sm font-medium">Email address</Label>
    <input uiInputStyle id="email" [isSubmitted]="isSubmitted()" type="email" formControlName="email"/>
  </div>

  <div>
    <Label for="password" class=" text-sm font-medium">Password</Label>
    <input uiInputStyle id="password" [isSubmitted]="isSubmitted()" type="password" formControlName="password"/>
  </div>
  <button uiPrimaryButton type="submit" class="w-full">Login</button>
</form>
<p class="pt-16 text-gray-500 text-sm">
  Don't have an account?
  <button (click)="switchContext.emit('register')" class="font-semibold text-indigo-600 hover:text-indigo-500">Sign up
  </button>
</p>
