<p class="text-slate-900 font-bold pb-14">Welcome to TrailRepo</p>
<form [formGroup]="loginForm" (submit)="login()">
  <input uiInputStyle [isSubmitted]="isSubmitted()" placeholder="Email" type="email" formControlName="email"/>
  <br/>
  <input uiInputStyle [isSubmitted]="isSubmitted()" placeholder="Password" type="password" formControlName="password"/>

  <br/>
  <button type="submit" class="bg-amber-500 w-full rounded-full p-2 text-white font-semibold">Login</button>
</form>
<button (click)="switchContext.emit('register')" class="pt-24">Don't have an account? Sign up</button>
